doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    nav.navbar.navbar-default
        .container-fluid
            p.navbar-brand(name="page-title")

            ul.nav.navbar-nav
                li
                    a(href="", name="chat-link") Chat
       
            p.navbar-text.navbar-right Logged as 
                a.navbar-link(href="", name="my-username")
                span |
                input.btn-link(type="button", value="Logout", onclick="ui.logout()")

    .container
        block content
        block scripts
